ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}

li{
    float: left;
}

h1{
    color:white;
    text-align: center;
    font-size: 50px;
}

h2{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

a{
    display: block;
    padding: 8px;
    text-decoration: none;
}
