
<nav>
    <h1 class="glitch" data-text="PokeLibrary Site">PokeLibrary Site</h1>
    <ul class="nav">
        <li><a routerLink="/pokemon" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><h4>POKEMON</h4></a></li>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><h4>HOME</h4></a></li>
    </ul>
</nav>



<div class="main-items">
    <!-- <h1 class="head">PokeLibrary Site</h1> -->
    <h2>View the abilities of pokemon</h2>
</div>
