<ul>
    <!-- <li><a routerLink="/pokemon-details" routerLinkActive=""><h3>Pokemon Details</h3></a></li> -->
    <li><a routerLink="/pokemon" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><h3>Pokemon Library</h3></a></li>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><h3>Home</h3></a></li>
</ul>

<div class="main-items">
    <h1 class="head">PokeEvolve Site</h1>
    <h2 class="head">View the abilities of pokemon after they evolve</h2>
</div>
