<div class="card-container">
    <div class="card" (click)="gotoDetailPage('ditto', '/assets/pokemon-images/charmander.jpg')">
         <!--- <h1>{{pageName}}</h1> -->
         <img src="/assets/pokemon-images/charmander.jpg" class="image-container" alt="Image of pokemon">
         <div class="info">
            <p>Ditto</p>
           
         </div>
         
     </div>

     <div class="card" (click) = "getPokemonDetail('Pikachu')">
         <img src="/assets/pokemon-images/charmander.jpg" class="image-container" alt="Image of pokemon">
         <div class="info">
            <h1>Pikachu</h1>
            <p>Type: fire</p>
         </div>
         
     </div>

     <div class="card">
         <img src="/assets/pokemon-images/charmander.jpg" class="image-container" alt="Image of pokemon">
         <div class="info">
            <h1>Charmander</h1>
            <p>Type: fire</p>
     </div>

     </div>
     
</div>

