<div class="grid">
    <div class="card">
        <!--- <h1>{{pageName}}</h1> -->
         <img src="" class="image-container" alt="Image of pokemon">
         <p>Charmander</p>
     </div>
     
     <div class="card">
         <!--- <h1>{{pageName}}</h1> -->
          <img src="" class="image-container" alt="Image of pokemon">
          <p>Greninja</p>
      </div>
     
      <div class="card">
         <!--- <h1>{{pageName}}</h1> -->
          <img src="" class="image-container" alt="Image of pokemon">
          <p>Combusken</p>
      </div>
     
      <div class="card">
         <!--- <h1>{{pageName}}</h1> -->
          <img src="" class="image-container" alt="Image of pokemon">
          <p>Machop</p>
      </div>
</div>

