<div class="card-container">
    <div class="card" (click)="gotoDetailPage('ditto','/assets/pokemon-images/ditto.jpg')">
        <img src="/assets/pokemon-images/ditto.jpg" class="image-container" alt="Image of pokemon">
        <div class="info">
            <h1>Ditto</h1>
            
        </div>
    </div>

 
        <div class="card" (click)="gotoDetailPage('charmander','/assets/pokemon-images/charmander.jpg')">
            <img src="/assets/pokemon-images/charmander.jpg" class="image-container" alt="Image of pokemon">
            <div class="info">
                <h1>Charmander</h1>
            </div>
        </div>
   
        
    

    <div class="card" (click)="gotoDetailPage('bulbasaur','/assets/pokemon-images/bulbasaur.jpg')">
        <img src="/assets/pokemon-images/bulbasaur.jpg" class="image-container" alt="Image of pokemon">
        <div class="info">
            <h1>Bulbasaur</h1>
        </div>
    </div>

    <div class="card" (click)="gotoDetailPage('squirtle','/assets/pokemon-images/squirtle.jpg')">
        <img src="/assets/pokemon-images/squirtle.jpg" class="image-container" alt="Image of pokemon">
        <div class="info">
            <h1>Squirtle</h1>
        </div>
    </div>

    <div class="card" (click)="gotoDetailPage('charmander','/assets/pokemon-images/charmander.jpg')">
        <img src="/assets/pokemon-images/charmander.jpg" class="image-container" alt="Image of pokemon">
        <div class="info">
            <h1>Ditto</h1>
            
        </div>
    </div>

    <div class="card" (click)="gotoDetailPage('charmander','/assets/pokemon-images/charmander.jpg')">
        <img src="/assets/pokemon-images/charmander.jpg" class="image-container" alt="Image of pokemon">
        <div class="info">
            <h1>Ditto</h1>
            
        </div>
    </div>

</div>